//Original Version :VCL Form Converter, by Luigi Bianchi
//This Modified Version : by Dave Rowbotham


#include <windows.h>
#include "Form0.rh"





//BEFORE_DIALOG_RC
//
//

//BEGIN
IDC_TJVDESIGNPANEL DIALOGEX 0 0 420 283
STYLE 0x00 | WS_CAPTION | WS_BORDER  | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | WS_SYSMENU | WS_VISIBLE | DS_3DLOOK | DS_FIXEDSYS
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "Inclination_and_alt", IDC_INCLINATION_AND_ALT, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 22, 30, 61, 8, 0x00
 CONTROL "Latitude", IDC_LATITUDE, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 160, 29, 26, 8, 0x00
 CONTROL "Body_And_Alt", IDC_BODY_AND_ALT, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 261, 30, 46, 8, 0x00
 CONTROL "Orbit_alt", IDC_ORBIT_ALT, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 39, 176, 26, 8, 0x00
 CONTROL "Azimuth_calculator_by_Enjo", IDC_CALCULATOR, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 155, 3, 90, 8, 0x00
 CONTROL "Mass", IDC_MASS, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 328, 50, 17, 10, 0x00
 CONTROL "Equator_radius", IDC_EQUATOR_RADIUS, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 328, 76, 48, 8, 0x00
 CONTROL "Sidereal_day", IDC_SIDEREAL_DAY, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 328, 103, 41, 8, 0x00
 CONTROL "", IDC_LISTBOX_BODY, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_BORDER | WS_VISIBLE, 253, 51, 66, 80, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_LISTBOX_LAT, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_BORDER | WS_VISIBLE, 135, 51,80 , 80, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_LISTBOX_INCLIN, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_BORDER | WS_VISIBLE, 13, 51, 85, 77, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDIT_INCLIN, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 13, 141, 85, 13, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDIT_LAT, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 135, 141, 76, 13, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDIT_ORBIT_ALT, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 13, 193, 85, 13, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Calculate", IDC_CALCULATE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 16, 218, 77, 22, 0x00
 CONTROL "Quit", IDC_QUIT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 17, 248, 77, 22, 0x00
 CONTROL "", IDC_EDIT_OUTPUT, "edit", ES_MULTILINE|WS_CHILD | WS_VISIBLE | ES_READONLY | ES_NOHIDESEL | ES_OEMCONVERT, 135, 171, 270, 98, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDIT_MASS, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 328, 60, 76, 10, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDIT_EQUATOR_RAD, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 328, 86, 76, 10, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDIT_SID_DAY, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 328, 113, 76, 10, 0x00 | WS_EX_CLIENTEDGE
}

//Original Version :VCL Form Converter, by Luigi Bianchi
//This Modified Version : by Dave Rowbotham
